.header, .headerHomePage{
    box-shadow: 1px 1px 8px 1px #000000;
    text-align: right;
}

.header .titulo, .headerHomePage .titulo{
    margin: auto;
    text-align: left;
    width: 50%;
    font-size:xx-large;
}

.headerHomePage .titulo{
    text-align: center;
}

.header img, .headerHomePage img{
    height: 5.5vw;
    padding: 0px;
    margin-left: 14%;
}